body{
    margin: 1%;
    padding: 1%;
    background-color: white;
}

#menu{
    background-color: rgba(0, 162, 255, 0.322);
    padding: 1%;
}

#menu li{
    font-size: 150%;
    padding-right: 5%;
    margin-right: 5%;
    list-style-type: none;
    display: inline-block;
}

#menu li a{
    text-decoration: none;
    color: black;
}

#menu li a:hover{
    text-decoration: underline;
}

h1{
    color: blue;
}

p{
    font-size: 130%;
}

li{
    margin-top: 1%;
}

img{
    padding: 1%;
    margin: 1%;
    border: 1px solid black;
    display: block;
}

#div-left{
    width: 50%;
    display: inline-block;
}

#div-right{
    width: 30%;
    display: inline-block;
}

figure{
    display: flex;
    align-items: center;
}

.logo{
    margin-left: 2%;
}

table{
    border-collapse: collapse;
}

table.center {
    margin-left:auto;
    margin-right:auto;
  }

th{
    text-align: center;
    background-color: aqua;
}

th, td{
    border: 2px solid red;
    text-align: left;
    padding: 25px;
}

td:last-child{
    text-align: center;
}

.random_girl{
    display: block;
    text-align: center;
    border: none;
    width: 80%;
}