<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Django Project</title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    </head>

    <body>
        <h1>Welcome To Mehdi Site</h1>

        <p>Ce site est en construction</p>

        <nav id="menu">
            <ul>
                <li><a href="myapp/index/">Home</a></li>
                <li><a href="myapp/hello/">Hello</a></li>
                <li><a href="myapp/morning/">Morning</a></li>
            </ul>
        </nav>


        <br><br><br><br>

        <div id="div-left">
            <h3>Cette application va être construite avec : </h3>
            <ul>
                <li>Python 3,</li>
                <li>Django 2.0.4,</li>
                <li>HTML/CSS/Javascript obviously x),</li>
                <li>Python Websockets</li>
                <li>Flask API</li>
                <li>Et beaucoup d'imagination :)</li>
            </ul>
        </div>

        <div id="div-right">
            <figure>
                <img src='{% static "python-icon.png" %}' alt="python logo" width="100px"/>
                <figcaption class="logo">Python Logo</figcaption>
            </figure>
            <figure>
                <img src='{% static "django-logo.png" %}' alt="python logo" width="100px"/>
                <figcaption class="logo">Django Logo</figcaption>
            </figure>
        </div>
        <br><br><br><br>

        <h3>Here's an exemple of how to get data from an sqlite 3 database and show it in a table, just see the source 
            code and you will get it:
        </h3>
        <table>
            <tr>
                {% for header in table_header %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
            
            {% for person in participant %}
                <tr>
                    {% for info in person %}
                        <td>{{ info }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <br><br><br><br>

        <figure class="random_girl">
            <img src='{% static "random-pic.jpg" %}' alt="random girl" class="random_girl" />
            <figcaption class="random_girl">Just a Random Girl Pic</figcaption>
        </figure>
        
    </body>
</html>